{% extends "accounts/base.html" %}

{% block title %}
<title>Quiz Administration - {{site_name}}</title>
{% endblock %}

{% block content %}
    
    <a href="{% url 'quiz_courses' %}">&#171; Courses</a>
    <h2>Quiz Administration</h2>
    
    {% if user.is_superuser %}
        <h3>Create Courses </h3>
            <a href="{% url 'quiz_create_course' %}" class="btn btn-success">
                Add New Course
            </a>
    {% endif %}

    {% if user.is_staff %}
        <h3>Manage Users</h3>
            <a href="{% url 'quiz_add_staff_member' %}" class="btn btn-success">
                Add Staff Member
            </a>
            <a href="{% url 'quiz_add_students' %}" class="btn btn-success">
                Add Students
            </a>
            <a href="{% url 'see_marks' %}" class="btn btn-success">
                See Marks
            </a>
    {% endif %}
{% endblock %}

{% block sidenote %}
{% endblock %}
