{% extends 'accounts/base.html' %}
{% load navbar_inclusion_tag %}

{% comment %}
    Has (possibly empty) PollQuestion element 'question'
    Has course - Course object
    If 'question' is non-empty, has list of PollChoices called 'choices'
    An integer num_votes with the total number of votes
    Will be passed a string with the current state. The server can be in one of 
    three states:
        1. No current poll. If this is the case, state="-1"
        2. Displaying question and voting. If this is the case, state="questionpk-true"
           where questionpk is the primary key of the question, and 'true' indicates that
           voting is on.
        3. Displaying question, no voting (showing result). If this is the case,
           state="questionpk-false". 
{% endcomment %}

{% block title %}
    <title>Live Poll - {{site_name}}</title>
{% endblock %}

{% block content %}
    <a href="{% url 'polls_courses' %}">&#171; Courses</a>
    <a href="{% url 'list_polls' course_pk=course.pk %}">&#171; Polls</a>
    <h2>Live Poll - {{course.name}} </h2>

    <div id="livepollquestion"> {# Used to replace html from websocket response #}
        {% include 'polls/live_poll_template.html' %}
    </div>

{% endblock %}
{% block script %}
<script>
    $('document').ready( function() {
        var course_pk = "{{course.pk}}";
        var url_prepend = "{{url_prepend}}";
        url_prepend = url_prepend.substring(0,url_prepend.length-1);
        var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        var votesock = new ReconnectingWebSocket(ws_scheme + '://' + window.location.host + "/ws/" + url_prepend +  "/vote/" + course_pk + "/");

        votesock.onmessage = function(message) {
            var data = JSON.parse(message.data);

            if (data.hasOwnProperty('status')) { //voting response
                 if (data['status']=='success') {
                    // Inform the user
                    $('#response').html('You voted successfully!');
                    // Diable the buttons
                    $('button').prop('disabled', true);
                }
            }
            else if (data.hasOwnProperty('content')) { //state change
                $('#livepollquestion').html(data['content']);
                // Need to re-render the mathematics
                $('.mathrender').each( function () {
                    renderMathInElement( $(this)[0] );
                });
                //New buttons may have been added, so add listeners
                add_button_listeners();
            }
        };

        function add_button_listeners() {
            $('button').click( function() {
                choice_pk=$(this).attr('id').split('_')[1];
                message = {
                    choice_pk: choice_pk,
                }
                votesock.send(JSON.stringify(message));
            });
        }

        add_button_listeners();
    });
</script>
{% endblock %}
